@model ProyectoGYM.Models.Martricula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Martricula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idclase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idclase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdclienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteNavigation.Apellidos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idmatricula">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
