@model IEnumerable<ProyectoGYM.Models.Puesto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PagoHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdempleadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PagoHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaPuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdempleadoNavigation.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idpuesto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idpuesto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idpuesto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
