@model ProyectoGYM.Models.GeneracionPago

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GeneracionPago</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoDelPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoDelPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feriados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feriados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorasExtras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorasExtras)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdjornadasNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdjornadasNavigation.Idjornadas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdgeneracionPago">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
