@model ProyectoGYM.Models.ClienteMembresium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClienteMembresium</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaProxRenovacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProxRenovacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdcategoraMembresiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoraMembresiaNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdclienteMembresia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
