@model ProyectoGYM.Models.Empleado

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idactivididades)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idactivididades)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idpuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idpuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dirreccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dirreccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaContratacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaProfesional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProfesional)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSeguridadSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSeguridadSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuentaBancaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuentaBancaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetencionCcss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetencionCcss)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idempleado" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
